@model Savnac.Web.Models.CourseAttendanceModel
@{
    ViewBag.Title = "SaveAttendance";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveAttendance</title>
</head>
<body>
    <div>
        And you thought your attendance was saved... Haaaah.
        @Html.ActionLink("Return to Main Page", "Index", "Home")
    </div>
</body>
</html>
