
@{
    ViewBag.Title = "ReadPost";
}

<h2>@Model.title</h2>

<b>From: @Model.userName</b>

<div>
	@Model.content
</div>

<div class="button" style="margin-top: 30px;">@Html.ActionLink("Reply", "ComposePost")</div>

