@model Savnac.Web.Models.Thread

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThreadManager</title>
</head>
<body>
    <div>
        @Model.PostTitle
        @Model.PostText

    </div>
</body>
</html>
