@model Savnac.Web.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseManager</title>
</head>
<body>
    <div>
        @Model.CourseName
    </div>
</body>
</html>
