@model Savnac.Web.Models.Class

@{
    ViewBag.Title = "Add a Class";
}

<section id="addClassForm" style="border: 0px; float: none; width: 262px; margin: 0 auto;">
    <h2>@Model.ClassName Added!</h2>
    @Html.ActionLink("Return to Main Page", "Index", "Home")
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}