@model Savnac.Web.Models.Class

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassManager</title>
</head>
<body>
    <div>
        @Model.ClassName
    </div>
</body>
</html>
